html{
  background-color: #0A192F;

}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0A192F;
  /* color: #D295BF; */
  /* color: #FF4D80; */
  color: #df367ce9;
}

/* NAVBAR */

.navbar{
  display: flex;
  align-items: center;
  background-color: #0a192f52;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.navbar > a{
  margin: 1rem auto 0.5rem 2rem;
}

.navbar > button{
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.6rem 1.5rem;
  color: #9ca1b1;
  background: none;
  border: none;
}

.navbar > button:hover{
  color: #df367ce9;
}

.navbar-index{
  font-size: 1.5rem;
  color: #df367ce9;
}

.resume-link{
  border-radius: 5px;
  margin-right: 2rem;
  padding: 0.5rem 0.8rem 0.55rem;
  color: #df367ce9;
  text-decoration: none;
  border: 2px solid #df367ce9;
}
.resume-link:hover{
  color: #df367ce9;
  background-color: #df367c58;
}

/* HEADER */

.presentation{
  height: 95vh;
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}

.pres > h1{
  margin-bottom: 4rem;
  font-family: 'Playfair Display', serif;
}

.pres > svg{
  margin-bottom: 4rem;
}

.pres > p{
  color: #9ca1b1;
  width: 500px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

#svg9{
  height: 600px;
  transform: rotate(-90deg);
  margin-left: 400px;
}

#path1{
  stroke-dasharray: 2995;
  stroke-dashoffset: 2995;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}

#path2{
  stroke-dasharray: 2995;
  stroke-dashoffset: 2995;
  animation: sign 4s 0.4s ease;
  animation-fill-mode: forwards;
}

#path3{
  stroke-dasharray: 2995;
  stroke-dashoffset: 2995;
  animation: sign 4s 1s ease;
  animation-fill-mode: forwards;
}

#path4{
  stroke-dasharray: 2995;
  stroke-dashoffset: 2995;
  animation: sign 4s 1.6s ease;
  animation-fill-mode: forwards;
}

#path5{
  stroke-dasharray: 2995;
  stroke-dashoffset: 2995;
  animation: sign 4s 1.9s ease;
  animation-fill-mode: forwards;
}

#path6{
  stroke-dasharray: 2995;
  stroke-dashoffset: 2995;
  animation: sign 4s 2.3s ease;
  animation-fill-mode: forwards;
}

#path7{
  stroke-dasharray: 2995;
  stroke-dashoffset: 2995;
  animation: sign 4s 2.75s ease;
  animation-fill-mode: forwards;
}

#path8{
  stroke-dasharray: 2995;
  stroke-dashoffset: 2995;
  animation: sign 4s 3.1s ease;
  animation-fill-mode: forwards;
}

#path9{
  stroke-dasharray: 2995;
  stroke-dashoffset: 2995;
  animation: sign 4s 3.4s ease;
  animation-fill-mode: forwards;
}

#path10{
  stroke-dasharray: 2995;
  stroke-dashoffset: 2995;
  animation: sign 4s 3.6s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

/* ABOUT */

.about{
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.about > div{
  width: 911px;
}

.about-info-container{
  font-family: 'Roboto', sans-serif;
  display: flex;
}

.about-info > h3{
  width: 250px;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #df367ce9;
  padding-bottom: 0.5rem;
}

.about-info > p{
  color: #9ca1b1;
  font-size: 1.3rem;
}

.pink-text{
  color: #df367ce9;
}

.about-info > ul{
  font-weight: 500;
}

.image-set{
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-image: url(./assets/IMG-20190617-WA0001.jpg);
  width: 320px;
  height: 300px;
  margin-left: 2rem;
  margin-top: 5rem;
  border-radius: 5px;
  background-size:cover;
}

.color-overlay{
  background: #df367c95;
  height: 100%;
  border-radius: 5px;
}

.color-overlay:hover{
  background: none;
  transition: 0.5s;
}

/* PROJECTS */

.projects{
  height: 100vh;
  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-items: center;
  margin-bottom: 4rem;
}

.projects > a{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.project-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 128, 0, 0.355);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.materialised-div{
  background-image: url(./assets/materialised/materialised-home-screen.png);
  background-size:cover;
}

.youtube-div{
  background-image: url(./assets/youtube-clone/youtube-clone-home.png);
  background-size:cover;
}

.spotify-div{
  background-image: url(./assets/spotify-clone/spotify-clone-home.png);
  background-size:cover;
}

.projects-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px) brightness(30%);
  border-radius: 20px;
  color: #df367ce9;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.600);
}

.projects-text:hover{
  backdrop-filter: none;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

/* FOOTER */
.footer-container{
  margin-top: auto;
}

.footer{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 350px;
  background-color: #0e2342;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-email{
  margin-top: 6rem;
  font-family: 'Roboto', sans-serif;
}

.footer-logos{
  margin: 1.5rem;
}

.footer-logo{
  color: #df367ce9;
  font-size: 1.6rem;
  margin: 1rem;
  padding: 0rem 0.6rem 0.6rem 0.6rem;
  border-radius: 50%;
  background-color: #0A192F;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.footer-logo:hover{
  color: #a62b5ee9;
  background-color: #0b1421;
}

.footer-info{
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.footer-arrow{
  font-size: 2rem;
  margin: 2rem;
  padding: 0rem 0.6rem 0.5rem 0.6rem;
  border-radius: 50%;
  background-color: #0A192F;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.footer-arrow:hover{
  cursor: pointer;
  color: #a62b5ee9;
  background-color: #0b1421;
}
